<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal" style="margin-bottom: 20px;">Actores</h1>
    
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 actors-container">

        <div *ngFor="let actor of actorList">

            <div class="col actor-card">
                <div class="card shadow-sm" (click)="selectActor(actor)">
                  <div class="card-body">
                        <h5>{{actor.name}} {{actor.surname}}</h5>
                  </div>
                </div>
              </div>

        </div>

    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center" *ngIf="selectedActor">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Detalle</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Edad: {{selectedActor.age}}</li>
                    <li>Documento: {{selectedActor.document}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Pais</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>{{selectedActor.country}}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Peliculas</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <div *ngFor="let film of selectedFilmList">
                        <li>{{film.name}}</li>
                    </div>
                </ul>
            </div>
        </div>
    </div>

</div>