<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-8">
        <img class="rounded-circle" [src]="myProfile.avatar_url" alt="Generic placeholder image" width="140" height="140">
        <h2>{{myProfile.login}}</h2>
        <p>{{myProfile.html_url}}</p>
        <p><a class="btn btn-secondary" [href]="myProfile.html_url" role="button">Ir al Git »</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

  </div>