<div class="table-responsive">
    <table class="table align-middle table-striped-columns ">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">tipo</th>
                <th scope="col">Ruedas</th>
                <th scope="col">Capacidad</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vehiculo of vehiculos" id={{vehiculo?.id}} (click)="seleccionarPelicula(vehiculo)">
                <td>{{vehiculo?.nombre}}</td>
                <td>{{vehiculo?.tipo}}</td>
                <td>{{vehiculo?.ruedas}}</td>
                <td>{{vehiculo?.capacidad}}</td>
            </tr>

        </tbody>
    </table>
</div>