 

<div  class="table-responsive">
    <table class="table align-middle table-striped-columns ">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col" *ngIf="!tablaMin">DNI</th>
            <th scope="col" *ngIf="!tablaMin">Fecha de nacimiento</th>
            <th scope="col" *ngIf="!tablaMin">Licencia</th>
            <th scope="col" *ngIf="!tablaMin">pais origen</th>
            <th scope="col" *ngIf="!tablaMin">Licencia profesional</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let chofer of choferes" id={{chofer?.id}} (click)="seleccionarChofer(chofer)">
            <td>{{chofer?.nombre}}</td>
            <td  *ngIf="!tablaMin">{{chofer?.dni}}</td>
            <td  *ngIf="!tablaMin">{{chofer?.fecha_nacimiento}}</td>
            <td  *ngIf="!tablaMin">{{chofer?.numero_licencia}}</td>
            <td  *ngIf="!tablaMin">{{chofer?.pais_origen}}</td>
            <td  *ngIf="!tablaMin">{{chofer?.apto_profesional?"Es apto":"No es apto"}}</td>
          </tr>
          
        </tbody>
    </table>
</div>