.actors-list
{
    max-height: 250px; /* Set your desired maximum height */
    overflow-y: auto;  /* Enable vertical scrolling */
    border: 1px solid #ccc; /* Optional: add a border */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    //list-style-type: none; /* Remove default list styling */
}