<div class="container py-3">

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Lista Vehiculos</h1>
        <app-tabla-vehiculos (vehiculoElegido)="vehiculoSelec($event)"></app-tabla-vehiculos>
    </div>

    <div>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Crear un vehiculo</h4>
                    </div>
                    <div class="card-body">
                        <app-form-vehiculos></app-form-vehiculos>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Modificar Vehiculo</h4>
                    </div>
                    <div class="card-body" *ngIf="vehiculo">
                        <app-form-vehiculos [vehiculo]="vehiculo" (tareaRealizada)="tareaRealizada()"></app-form-vehiculos>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-primary">
                    <div class="card-header py-3 text-white bg-primary border-primary">
                        <h4 class="my-0 fw-normal">Eliminar</h4>
                    </div>
                    <div class="card-body" *ngIf="vehiculo">
                        <button type="button" class="w-100 btn btn-lg btn-primary" (click)="eliminarVehiculo()">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>